body{
  font-family: 'Lato', sans-serif;
  width: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}


.nav-link:active{
  text-decoration: underline;
}

.link {
  float: right;
  padding-left: 5rem;
}

a{
  color: black;
  font-weight: 700;
}


.pull-right{
  float: right;
}

.jumbotron{
  background-color:rgba(22, 134, 186, 0.5);
  color: black;
}

.banner{
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
}

.first{
  background-color: rgb(237, 237, 237);
}

.second{
  background-color: rgb(255, 255, 255);
  color:rgb(24, 129, 186);
  padding: 2%;
}
