body{
  font-family: 'Lato', sans-serif;
  width: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}


.nav-link:active{
  text-decoration: underline;
}



.link {
  float: right;
  padding-left: 5rem;
}


a{
  color: black;
  font-weight: 700;
}

.img-center{
  margin-left: 8em;
  width: 80%;
  height: 80%;
  margin-bottom: 1em;

}

.navbar li a{
  font-size: 1.3em;
}


.pull-right{
  float: right;
}

.jumbotron{
  background-color:rgba(22, 134, 186, 0.5);
  color: black;
}

.banner{
  padding-left: 5%;
  background-color: rgb(255, 255, 255);
}

.first{
  background-color: rgb(237, 237, 237);
}

.second{
  background-color: rgb(255, 255, 255);
  color:rgb(24, 129, 186);
  padding: 2%;
}
